<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ethereum dApps QuickStart</title>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="./src/js/web3.min.js"></script>
    <script language="javascript" type="text/javascript" src="./src/js/contract_abi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
          <div id="app">
          <h1>Create Token</h1>
          <h3></h3>
          <form v-if="flag_new">
            <div class="form-group">
              <label for="name">Token Name</label>
              <input class="form-control" v-model="name" id="name">
            </div>
            <div class="form-group">
              <label for="symbol">Token Symbol</label>
              <input class="form-control" v-model="symbol">
            </div>
            <div class="form-group">
              <label for="decimals">Token Decimals</label>
              <input class="form-control" v-model="decimals">
            </div>
            <div class="form-group">
              <label for="initialSupply">Token InitialSupply</label>
              <input class="form-control" v-model="initialSupply"><br>
            </div>
          </form>

    
          <p>
            <!-- <div class="container"> -->
              <button class="btn btn-primary col-xs-12 " @click="set" v-if="flag_new">Let's go!</button>
            <!-- </div> -->
          </p>
          
          <div class="alert alert-warning" role="alert" v-if="flag_bu">
              Createing.......
          </div>              
          
          <div class="form-group">

            <div class="panel panel-success" v-if="flag_hi">
              <div class="panel-heading">
              <div class="panel-title">
                Success! Created your Token.
              </div>
              </div>
              <div class="panel-body">
                <p v-if="flag_hi">ContractAddress：{{address}}</p>
                <p v-if="flag_hi">Name：{{name}}</p>
                <p v-if="flag_hi">Symbol：{{symbol}}</p>
                <p v-if="flag_hi">Decimals：{{decimals}}</p>
                <p v-if="flag_hi">TotalSupply：{{balance}}</p>
              </div>
            </div>
          </div>
          
          <p v-if="flag_hi">
                <button class="btn btn-primary col-xs-12 " @click="reset">戻る</button>
          </p>

          <div class="alert alert-danger" role="alert" v-if="flag_er">
            Error!
          </div>
          <p v-if="flag_er">
            <button class="btn btn-primary col-xs-12 " @click="reset">戻る</button>
          </p>

      
      </div>
    </div>
      <script>
          let contract;
          let userAccount;

          function startApp() {
              //Replace "YOUR_CONTRACT_ADDRESS" with your contract address
              var contractAddress = "0xF69Fde37Ac3556132680202aBcB6dEF26Dc8b2b4";
              contract = new web3js.eth.Contract(contractABI, contractAddress);
  
              var accountInterval = setInterval(function () {
                  web3.eth.getAccounts((error, accounts) => {
                      if (accounts[0] !== userAccount) {
                          userAccount = accounts[0];
  
                      }
                  });
              }, 100);
  
          }
  
          window.addEventListener('load', function () {
              // Checking if Web3 has been injected by the browser (Mist/MetaMask)
              if (typeof web3 !== 'undefined') {
                  // Use Mist/MetaMask's provider
                  web3js = new Web3(web3.currentProvider);
              } else {
                  // Handle the case where the user doesn't have Metamask installed
                  // Probably show them a message prompting them to install Metamask
              }
              // Now you can start your app & access web3 freely:
              startApp()
          })

          token = {}
          var app = new Vue({
            el: '#app',
            data: {
                flag_new: true,
                flag_bu: false,
                flag_er: false,
                flag_hi: false,
                address: '',
                name: 'TokenName',
                symbol: 'TokenSymbol',
                decimals: '0',
                initialSupply: '10000',
                balance: '10000'
            },
            created: function () {
              this.flag_new = true
              this.flag_bu = false
              flag_er = false
              this.flag_hi = false
              this.address = ''
              this.name = 'TokenName'
              this.symbol = 'TokenSymbol'
              this.decimals = '0'
              this.initialSupply = '10000'
              this.balance = '10000'
            },
            methods: {
              reset: function(){
                this.flag_new = true
                this.flag_bu = false
                this.flag_er = false
                this.flag_hi = false
                this.address = ''
                this.name = 'TokenName'
                this.symbol = 'TokenSymbol'
                this.decimals = '0'
                this.initialSupply = '10000'
                this.balance = '10000'
              },
              set: function (){
                this.address = ''
                this.flag_new = false
                this.flag_hi = false
                this.flag_bu = true
                contract.methods.deployToken(this.name, this.symbol, this.decimals, this.initialSupply)
                    .send({ from: userAccount })
                    .on("transactionHash",  (txhash) => {
                        console.log("Txhash: " +  txhash);
                    })
                    .on("receipt",  (receipt) =>{
                        //Process when transaction is confirmed
                        console.log(receipt)
                        app.get()
                    })
                    .on("error", (error) =>{
                        //Process when transaction is failed
                        console.log(error)
                        app.error()
                });
              },
              get: function () {

                contract.methods.showTokenAddress().call().then((_token) =>{
                  token = _token
                  app.show()
                })
              },
              show: function () {
                  this.address = token[0]
                  this.name = token[1]
                  this.symbol = token[2]
                  this.decimals = token[3]
                  this.balance = token[4] / (10**this.decimals)
                  console.log(this.address)
                  console.log(this.name)
                  console.log(this.symbol)
                  console.log(this.decimals)
                  console.log(this.balance)
                  this.flag_hi = true
                  this.flag_bu = false
              },
              error: function ()  {
                this.flag_er = true
                this.flag_bu =  false
              }
            }
          })

      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
